<!-- navbar.html -->
<nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-5">
    <a href="{{ url_for('index') }}" class="navbar-brand d-flex d-lg-none">
        <h1 class="m-0 display-4 text-secondary"><span class="text-white">Farm</span>Fresh</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto py-0">
            <a href="{{ url_for('index') }}" class="nav-item nav-link active">Home</a>
            <a href="{{ url_for('about') }}" class="nav-item nav-link">About</a>
            <a href="{{ url_for('service') }}" class="nav-item nav-link">Service</a>
            <a href="{{ url_for('product') }}" class="nav-item nav-link">Product</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu m-0">
                    <a href="{{ url_for('blog') }}" class="dropdown-item">Blog Grid</a>
                    <a href="{{ url_for('detail') }}" class="dropdown-item">Blog Detail</a>
                    <a href="{{ url_for('feature') }}" class="dropdown-item">Features</a>
                    <a href="{{ url_for('team') }}" class="dropdown-item">The Team</a>
                    <a href="{{ url_for('testimonial') }}" class="dropdown-item">Testimonial</a>
                </div>
            </div>
            <a href="{{ url_for('contact') }}" class="nav-item nav-link">Contact</a>
        </div>
    </div>
</nav>
